In [17]:
import pandas as pd
import numpy as np
 
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print(df['one'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

# The following program shows how you can replace "NaN" with "0".

In [14]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(3, 3), index=['a', 'c', 'e'],columns=['one','two', 'three'])
print (df)
df = df.reindex(['a', 'b', 'c'])
print (df)
print ("NaN replaced with '0':")
print (df.fillna(0))

        one       two     three
a -0.259258 -1.256595 -1.202970
c  0.198486  0.376621  0.762796
e -0.388765 -2.211883 -1.109671
        one       two     three
a -0.259258 -1.256595 -1.202970
b       NaN       NaN       NaN
c  0.198486  0.376621  0.762796
NaN replaced with '0':
        one       two     three
a -0.259258 -1.256595 -1.202970
b  0.000000  0.000000  0.000000
c  0.198486  0.376621  0.762796

# Drop Missing Values

If you want to simply exclude the missing values, then use the dropna function along with the axis argument. By default, axis=0, i.e., along row, which means that if any value within a row is NA then the whole row is excluded.

In [16]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print (df.dropna())

        one       two     three
a -0.543213  1.295851 -0.204232
c -0.994543  1.772469 -0.768637
e  0.296598 -1.446254 -1.032412
f -0.368948  0.033591  2.246563
h  0.387106  0.020626  0.569158